[defaults]
# Inventaire par defaut (peut etre surcharge avec -i)
inventory = inventory/lab/hosts.yml
# Dossier local des roles Ansible
roles_path = roles
# Dossier des collections installees avec ansible-galaxy
collections_path = collections
# Ne pas creer de fichiers .retry apres echec
retry_files_enabled = False
stdout_callback = yaml
# Desactive la verification SSH (necessaire en lab)
host_key_checking = False

[privilege_escalation]
# Pas de sudo/su par defaut (on travaille en connexion locale)
become = False
